body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFF;
    font-family: 'DM Sans', sans-serif;
    background-image: url(images/Image.png);
    background-size: cover;
    font-size: 18px;
    font-weight: 500;
}

/* LAYOUT */

header{
    max-width: 968px;
    margin: auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 19px;
    margin-top: 50px;

}

ul{
    display: flex;
    margin: 0;
}

li{
    list-style: none;
    margin-left: 20px;
}

.hero{
    text-align: center;
}
.hero-section{
    width: 770px;
    margin: auto;
}

.purchase-link{
    display: block;
    margin-bottom: 17px;
}


/* TYPOGRAPHY */

.startup-text{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
}

.list-items{
    font-size: 18px;
    font-weight: 500;
    
}

.signin-text{

    padding: 8px  18px;
    background:#25DAC5;
    border-radius: 100px;
}


/* .link{
    color: #FFF;
} */

h1{
    font-size: 58px;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-bottom: 40px;
}

.hero-section > p{
    /* font-size: 22px; */
    font-weight: 500;
    width: 582px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}
